@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);


* { margin: 0; padding: 0; -moz-box-sizing: border-box; box-sizing: border-box; }

h1 { font-family: 'Rokkitt', serif; }

body {
  background: url('https://unsplash.s3.amazonaws.com/batch%206/park-place.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  width: 66%;
  font-family: 'Open Sans', sans-serif;
}


.container {
  width: 66%;
  min-width: 800px;
  position: absolute;
  top: 20%;
}
.span-6 {
  float: left;
  width: 49%;
  margin-right: 1%;
}

.login {
  background-color: #444444;
  text-align: center;
  box-shadow: 0 0 20px #000;
}
.login h1 {
  color: #A64141;
  font-size: 36px;
  padding: 30px;
  background-color: #d25555;
}
.login-content, .message {
  padding: 30px 30px 50px 30px;
}
.login-content a {
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
}
label {
  display: block;
  color: #f4f4f4;
  font-size: 18px;
  margin-bottom: 3px;
  opacity: 0;
  
  transition: all .3s ease-in-out;
}
input {
  margin-bottom: 15px;
  padding: 10px 5px;
  width: 80%;
  background-color: #ccc;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #333;
}
input:focus {
  background-color: #f4f4f4;
  border: none;
  outline: none;
}

input[type=submit] {
  color: #fff;
  background-color: #d25555;
  border: none;
  font-family: 'Rokkitt', serif;
  font-size: 24px;
  margin-top: 25px;
  width: 60%;
  
  transition: all .5s ease;
}
input[type=submit]:hover {
  background-color: #A64141;
  cursor: pointer;
  color: #f4f4f4;
}

.message {
  
}
.message span {
  display: block;
  color: rgba(255, 255, 255, 1);
  position: relative; 
  bottom: 80px;
  text-align: center;
}
.line {
  display: inline-block;
  padding: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  transform: rotate(-12deg);
  width: 5px;
}
.first, .second, .third {
  font-size:10em;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  transform: rotate(-12deg);
  letter-spacing: -4px;
}
.first {
  font-family: 'Lobster', cursive;
  -webkit-text-shadow: 3px 3px 0 #999;
  -moz-text-shadow: 3px 3px 0 #999;
  text-shadow: 3px 3px 0 #999;
}
.second:before {
  content: "";
  display: block;
  padding: 1px; 
  background-color: #fff;
  width: 170px;
  position: absolute;
  top: 50%;
  right: 110px;
}
.second:after {
  content: "";
  display: block;
  padding: 1px; 
  background-color: #fff;
  width: 170px;
  position: absolute;
  top: 50%;
  left: 110px;
}
.secondS {
  font-size: 8em;
  font-family: 'Lobster', cursive;
  -webkit-text-shadow: 3px 3px 0 #999;
  -moz-text-shadow: 3px 3px 0 #999;
  text-shadow: 3px 3px 0 #999;
  line-height: 150px;
}
.show {
  opacity: 1;
}


@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(90deg, rgba(58,255,246,1) 5%, rgba(240,16,220,1) 100%, rgba(38,98,247,1) 100%);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.menu {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-size: 18px;
}

.menu a:hover {
  text-decoration: underline;
}

.login {
  background-color: #ffff;
  text-align: center;
  box-shadow: 0 0 20px #000;
  margin-top: 50px;
  padding: 30px;
  border-radius: 15px;
  height: 570px;
}

.login h1 {
  font-size: 36px;
  padding: 10px 0;
  color: #000;
}

label {
  display: block;
  color: #ffff;
  font-size: 18px;
  opacity: 1;
  transition: all .3s ease-in-out;
}

input {
  margin-bottom: 0px;
  padding: 10px 5px;
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #333;
  border-radius: 3px;
}

input:focus {
  background-color: #ccc;
  border: none;
  outline: none;
}

input[type=submit] {
  color: #fff;
  background: #c32ce1;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-top: 25px;
  width: 60%;
  transition: all .5s ease;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #A64141;
  color: #f4f4f4;
}
.message {
  position: absolute;
  top: 500px;
  left: 460px;
  transform: rotate(-25deg);
  text-align: right;
  margin-left: 20px;
  margin-top: 20px;
}

.message span {
  display: block;
  color: #cccc;
  position: relative;
  z-index: -1;
  bottom: 80px;
  text-align: center;
}

.first, .second {
  font-size: 10em;
  letter-spacing: -4px;
  display: inline-block;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 3px 0 #999;
}

.second {
  font-size: 8em;
  line-height: 150px;
}
a{
  text-decoration: none;
  color: lightgray;
  margin-top: 10px;
}
