@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(90deg, rgba(58,255,246,1) 5%, rgba(240,16,220,1) 100%, rgba(38,98,247,1) 100%);
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.menu {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.list {
    background-color: #ffff;
    text-align: center;
    box-shadow: 0 0 20px #000;
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
}

.list h1 {
    font-size: 36px;
    padding: 10px 0;
    color: #000;
}

.form {
    background-color: #ffff;
    text-align: center;
    box-shadow: 0 0 20px #000;
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
}

.form h1 {
    font-size: 36px;
    padding: 10px 0;
    color: #000;
}